# Object file
*.o

# Ada Library Information
*.ali
.DS_Store
node_modules 
.env
.env.development
.env.production 
.env.local
connectionString.js
nodemon.json
.vscode

client/node_modules
client/src/scss/bootstrap
client/src/json/films.json
client/src/utils/api-request.js
server/routes/festivalsRoute.js
server/models/Festival.js
server/models/Prize.js
client/src/components/FetchFestivals.js