# Object file
*.o

# Ada Library Information
*.ali
.DS_Store
node_modules 
.env
.env.development
.env.production 

connectionString.js
nodemon.json
.vscode

client/node_modules
client/json/films.json
client/src/scss/bootstrap