* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  font-family: 'Questrial',
    'Alegreya',
    sans-serif;
  font-weight: 400;
  background-color: #fff;
  // overflow: hidden;

  main {
    flex: 1;
  }
}

.contact-page {
  margin-top: 4rem;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .contact-wrapper {
    .contact-form {

      input,
      textarea {
        font-size: 13px;
        width: 80%;
        padding: 10px 5px;

      }
    }
  }
}