@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Titillium+Web:wght@900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-red: #f60017;
$other-red: #db2d43;
$dark-gray: #333;
$lighter-gray: #eee;
$lightest-gray: #f8f9fb;
$main-black: #020101de;

//#32514b
//#f8f9fb "bg-light"
html {
  // height: 100%;
  font-size: 100%;
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1280px;
  min-height: 0;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}


.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 15px;

  .contact-wrapper {
    width: 100%;
    padding: 20px 0;

    .contact-form {
      width: 50%;

      label {
        // font-size: large;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
      }

      input,
      textarea {
        font-size: 14px;
        padding: 20px 10px;
        outline: none;
        text-align: center;
      }
    }
  }
}


.search-wrapper {
  display: flex;
  padding: 15px 3px;
  background-color: rgb(224, 224, 224);

  .search-list {
    justify-content: center;
    align-items: center;
  }

  .search-inner {
    padding: 3px;

    img.img-fluid {
      display: block;
      width: 185px;
      height: 230px;
      border-radius: 0.4rem;
      filter: contrast(120%);
      transition: border .1s linear;
    }
  }
}

.search-details {

  h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  .img-secondary {
    max-width: 400px;
    display: inline-flex;
  }

  .film-description {
    font-size: 15px;
  }

  .heart__svg {
    fill: $main-red;
    margin-inline-start: 0.2rem;
  }

  .error__mssg {
    color: $main-red;
    font-weight: 700;
  }
}

button,
Button {
  outline: none !important;
  // padding: 0.3rem 0.5rem !important;
}