.films-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  // background-color: #eee;

  .films-header {
    align-items: center;
    margin: 0 auto;

    h1 {
      font-family: 'Alegreya', sans-serif;
      font-weight: 900;
      text-align: center;
      font-size: 3.5rem;
      letter-spacing: -0.5px;
      color: var(--dark);

    }

    .films-logo-wrapper {
      text-align: center;

      .img-fluid-logo {
        width: 100px;
        height: auto;
      }
    }
  }

  img.posters {
    display: block;
    width: 185px;
    height: 250px;
    border-radius: 0.2rem;
    filter: contrast(120%);
    transition: border .1s linear;

  }

  .films-row,
  .filmslist-wrapper {
    padding: 3px;
  }
}