.films-page {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  background-color: snow;

  .films-header {
    margin: 0 auto;
    line-height: 1;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      text-align: center;
      letter-spacing: -0.5px;
      color: var(--mainBlack);

    }

    .films-logo-wrapper {
      text-align: center;

      .img-fluid-logo {
        width: 150px;
        height: auto;
      }
    }
  }

  img.posters {
    display: block;
    border-radius: 0.3rem;
    filter: contrast(120%);
    transition: border .1s linear;
    box-shadow: 0 8px 8px 10px #eee;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .films-row {
    padding: 5px;
  }
}