.navbar-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020101de;

  .navbar-brand {
    font-family: 'Questrial',
      sans-serif;
    font-weight: 900;
    letter-spacing: 1.8px;

    .logo {
      width: 105px;
      height: 125px;
    }
  }

  .collapse .navbar-collapse {
    background-color: transparent;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 15px;
    border: none !important;
    outline: none;
    // border-radius: 0.2rem;
  }

  a.nav-link {
    font-size: 14px;
    text-align: center;
    font-weight: 600;

    &.active {
      text-decoration: underline;
      text-decoration-color: $main-red;
    }
  }

  li.logout-btn {
    background-color: $main-red;
    border-radius: 0.2rem;
    text-transform: uppercase;
    color: #fff;
  }
}

.navbar-nav {
  Button.nav-link {
    background-color: #eee;
    padding: 6px 7px;
    border-radius: 0.2rem;

  }
}