.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .navbar-brand {
    font-family: 'Questrial', sans-serif !important;
    font-weight: 700;
    letter-spacing: 1.8px;
    font-size: 1.6rem;

    img.logo {
      width: 115px;
      height: 130px;
    }
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 25px;
    border: none !important;
    outline: none;
  }

  #nav-toggle-icon {
    color: $main-red;
  }

  a,
  .nav-link,
  li.nav-item {
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-end;
    color: #020101de;
    display: inline !important;
    padding: 0.5rem 0.8rem;

    &.active {
      text-decoration: underline;
      text-decoration-color: $main-red;
    }
  }

  .login-btn {
    color: $main-red;
    border-radius: 0.2rem;
    text-transform: uppercase;
    // background-color: #ffffff;
    border: none;
    // display: inline;
    // text-align: center;
  }


  .logout-btn {
    background-color: $main-red;
    border-radius: 0.2rem;
    text-transform: uppercase;
    // text-align: center;
  }


  span .navbar-toggler-icon {
    color: $main-red
  }
}