.modal {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;

  .modal-header {
    background-color: $main-red;
    justify-content: center;
    align-items: center;


    h2 {
      font-family: 'Alegreya', sans-serif;
      font-weight: 500;
      color: #fff;
      // margin: 0 auto;
      // text-align: center;
    }
  }

  form {
    padding: 2px;
    text-align: center;

    .error-mssg {
      color: $other-red;
      font-weight: boldest;
    }
  }

  .nav-link {
    display: inline;
  }
}