.modal {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;

  .modal-header {
    background-color: $main-red;
    justify-content: center;
    align-items: center;

    button.close {
      margin-right: 0;
    }

    h2 {
      font-family: 'Alegreya', sans-serif;
      font-weight: 500;
      color: #fff;

    }
  }

  form {
    padding: 2px;
    text-align: center;

    .error-mssg {
      color: $other-red;
      font-weight: boldest;
    }
  }

  a.reg-nav-link {
    display: inline;
    text-decoration: underline;
    text-decoration-color: $main-red;
    font-size: 1rem;
    color: #020101de !important;

  }
}