.start-page {
  width: 100%;
  height: auto;
  margin-top: -1.5rem;
  // padding: 0.2rem 1rem 1rem;

  .jumbotron {
    background-color: #fff;
    background-image: url('../images/festivalDeCannes.png'), url('../images/berlinale.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: $main-red;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    text-align: center;

    // width: 100%;
    // height: auto;
    // padding: 1rem;
    h1 {
      font-size: 5rem;
      letter-spacing: 0.2rem;
    }

    .lead {
      font-size: 2.5rem;
      line-height: 1.2;
    }

    .btn {
      background-color: #fff;
      color: $main-red;
      width: 25%;
      margin: auto;
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      outline: none !important;
      // margin-top: 1.5rem;

      &:hover {
        background-color: snow;
      }
    }
  }

  form.search_input .search-box.form-control {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px #333 solid;
    text-align: center;
    outline: none !important;
    // margin-top: 1rem;
    // padding: 10px 0;

    &::placeholder {
      letter-spacing: 0.15rem;
      text-align: center;
    }
  }
}

.carousel-container {
  // max-width: 600px;
  width: 100%;
  margin: 20px auto 15px;
  box-shadow: 0 10px 8px 10px #eee;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .carousel-slider {
    z-index: 4;
    outline: none;

    .carousel-img,
    .slick-slide img {
      width: 100%;
      height: 100%;
      mask-image: cross-fade();
      border-radius: 5px;
      filter: contrast(140%);
    }

    .slick-next::before {
      color: #1fb5ff;
      // font-size: 25px;
      margin-inline-end: 0.5rem;
    }


    .slick-prev::before {
      color: #1fb5ff;
      // font-size: 25px;
      margin-inline-start: -1rem;
    }
  }

  .search-content {
    background-color: $main-red;
    display: inline;
  }


  @media screen and (min-width: 320px) and (max-width: 600px) {
    h1 {
      font-size: 3rem;
      word-wrap: break-word;
    }
  }
}

//pagination links
.pagination-wrapper {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;

  .pagination {
    margin-top: 30px;
    color: #000;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 500px;
    width: auto;
  }

  a {
    color: var(--dark);
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    margin-left: 4px;
    margin-right: 4px;
  }

  .active {
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 2px 8px;
    margin-right: 4px;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (min-width: 600px) {
  .carousel-container {
    max-width: 900px;
    width: 100%;
  }
}